$color-primary: #e67e22;
$color-primary-light: #f39c12;
$color-primary-dark: #e74c3c;

$color-confirm: #7dd56f;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light: #f7f7f7;

$color-white: #fff;
$color-black: #000;
$color-black-light: #333;
$color-dark: #444;

/* Typography */
$default-font-size: 1.6rem;
