/*
.container {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 25%);
  grid-gap: 4rem;
}

*/
.main {
  padding: 8rem 6rem;
  background-color: inherit;
  height: 100%;
}
